version: "3.9"

services:
  stock-predictor:
    build: .
    container_name: stock-predictor
    volumes:
      - .:/app
    working_dir: /app/src
    command: ["python", "main.py"]
    environment:
      - PYTHONUNBUFFERED=1
    tty: true
